<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Barcode Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Barcode Url
  <div class="center" *ngIf="url; else placeholder">
    <h5>Barcode Detail:</h5>
    <a [href]="url">The a tag</a>
  </div>

  <ng-template #placeholder>
    <div class="center">
      Click the button to start scanning.
    </div>
  </ng-template>
  <br />

  <ion-button class="center" color="primary" expand="full" (click)="scan()"
    >Scan Barcode</ion-button
  >

  <br> -->

  <ion-input [(ngModel)]="name" placeholder="name"></ion-input>
  <ion-input [(ngModel)]="lastname" placeholder="lastname"></ion-input>
  <ion-input [(ngModel)]="birthday" placeholder="birthday"></ion-input>
  <ion-input [(ngModel)]="image" placeholder="image"></ion-input>

  <ion-button class="center" color="primary" expand="full" (click)="newUser()"
    >Create New User</ion-button
  >

  <ion-list *ngFor="let user of users">
    <ion-item>
      <ion-label>{{ user.name }} {{ user.lastname }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
